
.button{
    padding: 15px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.button-state-dark {
    background-color: black;
    color: white;
}
.button-state-dark:hover{
    background-color: rgba(67, 148, 234, 0.56);
}


.button-state-light {
    background-color: white;
    color: black;
}
.button-state-light:hover{
    background-color: rgba(67, 148, 234, 0.56);
}